
*.suo
*.user
*.sln.docstates
*.sln
*.vcxproj
*.vcxproj.user
*.sdf
Debug/*
Debug*

[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
*.opensdf
Project.*